@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap'); 
*{
  font-family: "montserrat";
  font-weight: bolder;
}
 #sty{
  display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 20px;
background-color: rgb(246, 246, 246);
padding: 20px;
} 



